:root {
  --flq-nav--font-family: inter, sans-serif;
  --flq-nav--font-weight: 700;
  --flq-nav--font-size: 14px;
  --flq-nav--line-height: 1.6;
  --flq-nav--letter-spacing: auto;
  --flq-nav--text-transform: none;
}
