@mixin flq-headings($before: "") {
  #{$before}h1,
  #{$before}h2,
  #{$before}h3,
  #{$before}h4,
  #{$before}h5,
  #{$before}h6,
  #{$before}.h1,
  #{$before}.h2,
  #{$before}.h3,
  #{$before}.h4,
  #{$before}.h5,
  #{$before}.h6,
  #{$before}.display-1,
  #{$before}.display-2,
  #{$before}.display-3,
  #{$before}.display-4,
  #{$before}.display-5,
  #{$before}.display-6 {
    @content;
  }
}

body {
  font-family: var(--flq-body--font-family);
  font-size: var(--flq-body--font-size);
  font-weight: var(--flq-body--font-weight);
  line-height: var(--flq-body--line-height);
  color: hsla(var(--flq-color-text));
  text-transform: var(--flq-body--text-transform);
  overflow-wrap: break-word;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: hsl(var(--flq-color-title));
  text-decoration: none;
  transition: color var(--flq-transition-duration) var(--flq-transition-easing);

  &:hover,
  &:focus {
    color: hsl(var(--flq-color-brand));
    text-decoration: none;
  }

  &:focus:not(:focus-visible) {
    outline: none;
  }
}

// Paragraph.
p,
.paragraph {
  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.paragraph {
  display: block;
}

// Strong.
strong,
.strong {
  font-weight: var(--flq-body--font-weight-bold);
}

// Small.
small,
.small {
  font-size: var(--flq-small--font-size);
  font-weight: var(--flq-small--font-weight);
  line-height: var(--flq-small--line-height);
  text-transform: var(--flq-small--text-transform);
}

// Lead.
.lead {
  font-size: var(--flq-lead--font-size);
  font-weight: var(--flq-lead--font-weight);
  line-height: var(--flq-lead--line-height);
  text-transform: var(--flq-lead--text-transform);
}

// Blockquote.
blockquote {
  position: relative;
  padding: 0;
  font-size: var(--flq-lead--font-size);
  font-weight: var(--flq-lead--font-weight-bold);
  line-height: var(--flq-lead--line-height);
  color: hsla(var(--flq-color-title));
  text-transform: var(--flq-lead--text-transform);

  &::before {
    position: absolute;
    top: -12.5px;
    bottom: -12.5px;
    left: -30px;
    width: 3px;
    content: "";
    background-color: hsl(var(--flq-color-brand));
    border-radius: var(--flq-border-radius);
  }
}

// Vertical Rhythm.
.flq-vertical-rhythm {
  > * {
    margin-top: calc(var(--flq-vertical-rhythm) + 8px);
    margin-bottom: calc(var(--flq-vertical-rhythm) + 8px);
  }

  > p,
  > ul,
  > ol,
  > blockquote {
    margin-top: var(--flq-vertical-rhythm);
    margin-bottom: var(--flq-vertical-rhythm);
  }

  @include flq-headings("> ") {
    margin-top: calc(var(--flq-vertical-rhythm) * 2);
    margin-bottom: var(--flq-vertical-rhythm);
  }

  > .flq-subtitle {
    margin-bottom: 0;
  }

  > *:first-child {
    margin-top: 0;
  }

  > *:last-child {
    margin-bottom: 0;
  }
}

// Subtitle.
.flq-subtitle {
  @include flq-headings("+ ") {
    margin-top: var(--flq-vertical-rhythm-1);
  }
}

// Headings.
@include flq-headings() {
  font-family: var(--flq-heading--font-family);
  font-weight: var(--flq-heading--font-weight);
  color: hsl(var(--flq-color-title));
  text-transform: var(--flq-heading--text-transform);

  > .badge {
    font-size: 45%;
    vertical-align: middle;
  }
}

@each $heading in (1, 2, 3, 4, 5, 6) {
  h#{$heading},
  .h#{$heading} {
    font-size: var(--flq-h#{$heading}--font-size);
    line-height: var(--flq-h#{$heading}--line-height);
    letter-spacing: var(--flq-h#{$heading}--letter-spacing);
  }
}

h5,
.h5,
h6,
.h6 {
  font-weight: calc(var(--flq-heading--font-weight) - 100);
}

@each $display in (1, 2, 3, 4, 5, 6)  {
  .display-#{$display} {
    font-size: var(--flq-d#{$display}--font-size);
    line-height: var(--flq-d#{$display}--line-height);
    letter-spacing: var(--flq-d#{$display}--letter-spacing);
  }
}
