/* ------------------------------------------------------------------
  [Typography]

  Body Font Family: var(--flq-body--font-family);
  Body Font Size: var(--flq-body--font-size);
  Body Line Height: var(--flq-body--line-height);

  Heading Font Family: var(--flq-heading--font-family);
  Heading Font Weight: var(--flq-heading--font-weight);

  Notes: Most of font sizes are relative to the base font size (rem)
------------------------------------------------------------------- */

/* ------------------------------------------------------------------
  [Color codes]

  Brand: var(--flq-color-brand)
  Title: var(--flq-color-title)
  Text : var(--flq-color-text)
  Meta : var(--flq-color-meta)
  White: var(--flq-color-white)
  Black: var(--flq-color-black)
  Dark : var(--flq-color-dark)

  Background       : var(--flq-color-background)
  Background-100   : var(--flq-color-background-100)
  Background-200   : var(--flq-color-background-200)
  Background-300   : var(--flq-color-background-300)
  Background-footer: var(--flq-color-background-footer)

  Success: var(--flq-color-success)
  Danger : var(--flq-color-danger)
  Warning: var(--flq-color-warning)
  Info   : var(--flq-color-info)
------------------------------------------------------------------- */

/* ------------------------------------------------------------------
  [Table of contents]
  {{table_of_contents}}
------------------------------------------------------------------- */
